@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/base";
@import "../partials/functions";


body {
    
    header{
        background-color: $primary-color;
        width: 100%;
        height: 100px;
    }
    footer{
        background-color: $secondary-color;
        width: 100%;
        height: 100px;
    }
    main{
         color: $text-color;
         .rouge {
            @include bouton(#3498db, #fff);
         }
        .vert{
            @include bouton(#2ecc71, #000);
         }
    }
    section{
        background-color: darken(#ff6853, 20%);
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 728px) {
    @include tel(20px);
}